{% extends 'base.html.twig' %}

{% block title %}Title{% endblock %}

{% block body %}


<h1> Vous êtes sur la page d'accueil !</h1>


{% endblock %}
{# commentaire
{{:interpolation : variable ou les fonctions twig
{%%} condition boucle block

}}



#}